<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @address.user_id %>
</p>

<p>
  <b>Address:</b>
  <%= @address.address %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>County:</b>
  <%= @address.county %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
